/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
  --text-size: 12px;
  --icon-size: 12px;

  --text-color-light: rgba(0 0 0 / 95%);
  --text-color-dark: rgba(255 255 255 / 95%);

  --icon-color-light: LightSteelBlue;
  --icon-color-dark: rgba(115 130 175 / 95%);

  --background-color-light: rgba(238 238 238 / 90%);
  --background-color-dark: linear-gradient(
    rgb(0 0 0 / 90%),
    rgb(5 2 20 / 85%)
  );
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--text-color-light);
  }

  i {
    color: var(--icon-color-light);
  }

  #root {
    background: var(--background-color-light);
    background-color: gray;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color-dark);
  }

  i {
    color: var(--icon-color-dark);
  }

  #root {
    background: var(--background-color-dark);
  }
}

i {
  margin-right: 7px;
  font-size: var(--icon-size);
}

body {
  font-family: ui-monospace, monospace;
  font-size: var(--text-size);
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;

  display: flex;
  gap: 10px;
}

.btn {
  background: rgb(255 255 255 / 5%);
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background: rgb(75 115 255 / 50%);
  }
}

.workspaces {
  display: flex;
  align-items: center;
  gap: 4px;
}

.workspace {
  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: rgb(75 115 255 / 50%);
  }
}

.date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
